<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>QR Mirror</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header>
      <a href="/">New</a>
      <a href="/about">About</a>
    </header>
    <div id="content">
      <span class="error"><%= statusCode %>: <%= clientErrorMessage %></span>
    </div>
  </body>
</html>
