<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>QR Mirror</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <a href="/">About</a>
    </header>
    <div id="content">
      <div id="qr-container">
	<a href="<%= urls.zoom %>">
	  <img
	    src="<%= urls.img %>"
	    alt="Error: Message too long to fit in a QR code"
	    title="Scan me to go to this page"
	  >
	</a>
      </div>
      <div><%- formattedText %></div>
      <hr/>
      <form action="/api/mirror/" method="post">
        <label for="message">Edit message: </label>
        <textarea id="message" name="text" rows="15"><%= rawText %></textarea>
	<div id="buttons">
          <input type="submit" value="Go!">
	  <input type="button" value="Clear">
	  <input type="button" value="Copy">
	</div>
      </form>
    </div>
  </body>
</html>
