<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>QR Mirror</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <img class="zoom" src="<%= urls.img %>" alt="Error: Message too long to fit in a QR code">
  </body>
</html>
