body {
  background-color: #111;
  color: #eee;
  font-family: sans-serif;
  line-height: 1.5em;
}

#content {
  margin: auto;
  max-width: 650px;
}

a {
  color: #eee;
}

#qr-container {
  text-align: center;
  padding: 10px;
}

textarea {
  width: 100%;
}
