body {
  background-color: #101018;
  color: #eee;
  font-family: sans-serif;
  line-height: 1.5em;
}

#content {
  margin: auto;
  max-width: 650px;
}

a {
  color: #eee;
}

img {
  /* use nearest neighbord interp for QR code */
  image-rendering: crisp-edges;
}

#qr-container {
  text-align: center;
  padding: 10px;
}

textarea {
  width: 100%;
  background-color: #282835;
  color: #fff;
}
